@model EventEaseWebApp.Models.Booking

<!--Metadata -->
@{
    ViewData["Title"] = "Create";
}

<!-- Headings -->
<h1>Create Booking</h1>
<h4>Booking Details</h4>

<hr />

<!-- Content -->
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Event Select -->
            <div class="form-group">
                <label class="control-label">Event</label>
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
            </div>

            <!-- Venue Select -->
            <div class="form-group">
                <label class="control-label">Venue</label>
                <select asp-for="VenueId" class="form-control" asp-items="ViewBag.VenueId"></select>
            </div>

            <!-- Booking Date Select -->
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>

            <!-- Create Button -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Back Button -->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
